.header {
    text-align: center;
    color: blue;
}

.header__sub {
    display: flex;
    justify-content: space-between;
    color: blue;
    font-size: 24px;
}

.header__list {
    list-style: none;
    margin: 0 70px;
}

.header__list-sub {
    text-decoration: none;
}

.table {

}

.table__color-none {
    background-color: #fff;
}

.table__color-1 {
    background-color: yellow;
}

.table__color-2 {
    background-color: orange;
}

